body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(rgb(255, 255, 255),
            rgba(0, 0, 0, 0)), url('imagenes/Check_1366x768.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 100vh;
}

header {
    display: flex;
    width: 100%;
    height: 5rem;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

img {
    justify-content: center;
    width: clamp(2.3rem, 5vw, 3rem);
}

a {
    color: inherit;
}

.menu {
    filter: url("#shadowed-goo");
}

.menu-item,
.menu-open-button {
    background: #43b1c4;
    border-radius: 100%;
    width: clamp(2.3rem, 4vw, 3rem);
    height: clamp(2.3rem, 4vw, 3rem);
    margin-left: -40px;
    position: absolute;
    top: 30px;
    color: white;
    text-align: center;
    line-height: clamp(2.3rem, 4vw, 3.5rem);
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
}

i {
    align-items: center;
    font-size: clamp(1.5rem, 3vw, 1.7rem);
}

.menu-open {
    display: none;
}

.hamburger {
    width: clamp(.9rem, 2vw, 1.2rem);
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 60%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: absolute;
    left: 55%;
    margin-left: -40px;
    padding-top: 20px;
    padding-left: 190px;
    width: clamp(2rem, 4vw, 2.8rem);
    height: clamp(2rem, 4vw, 2.8rem);
    box-sizing: border-box;
    font-size: 25px;
    text-align: left;
}

.menu-item:hover {
    background: rgb(248, 247, 247);
    color: #43c467;
}

.menu-item:nth-child(3) {
    transition-duration: 130ms;
}

.menu-item:nth-child(4) {
    transition-duration: 190ms;
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked~.menu-item:nth-child(3) {
    transition-duration: 240ms;
    transform: translate3d(-68.04956px, 0.37192px, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
    transition-duration: 320ms;
    transform: translate3d(-142.90842px, -0.00004px, 0);
}

h2 {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: auto;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    margin-inline: 1rem;
    padding: 1rem;
    color: rgb(37, 37, 37);
    background-color: rgb(252, 248, 248);
    border-radius: 10px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
}

section.tabla_tareas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: .1rem;
    border: #43b1c4 1px solid;
    width: 95%;
    margin-bottom: .5rem;
    text-align: center;
    font-size: small;
}

h3,
h2,
legend,
button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

section.crear_tarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    width: 90%;
    color: rgb(37, 37, 37);
    border: #43b1c4 1px solid;
    border-radius: 2%;
    text-align: left;
}

legend {
    font-size: medium;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


label {
    text-align: left;
    font-size: small;
    margin-bottom: .3rem;
}

input,
select {
    cursor: pointer;
    margin-bottom: 1rem;
    padding: .4rem;
    font-style: oblique;
}


textarea {
    margin-bottom: 1rem;
}

button {
    background-color: rgba(255, 68, 0, 0.89);
    color: white;
    padding: .8rem;
    font-size: medium;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: white;
    color: rgba(255, 68, 0, 0.89);
}

button.delete-task {
    padding: .1rem .3rem;
    cursor: pointer;
    border-radius: 20px;
    width: auto;
    text-align: center;
}

.error-message {
    display: block;
    color: red;
    font-size: 0.7em;
    margin-bottom: .5rem;
}

.input-error {
    border: 2px solid red;
}

#toast-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toast {
    opacity: 0;
    transform: translateY(-20px);
    background: #333;
    color: #43c467;
    padding: 15px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: small;
    min-width: 220px;
    text-align: center;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.success {
    background: rgb(248, 247, 247);
    ;
    /* verde */
}

.toast.error {
    background: #dc3545;
    /* rojo */
}

footer p {
    font-size: small;
    color: gray;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}

@media (min-width:600px) {

    .menu {
        left: 70%;
    }

    h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: rgb(37, 37, 37);
        font-weight: 500;
        margin: 0;
        font-size: large;

    }

    h3 {
        text-align: center;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 2rem;
        width: 90%;

    }

    legend {
        text-align: center;
    }
}

@media (min-width: 768px) {

    .menu {
        position: absolute;
        left: 80%;
        margin-left: -40px;
        padding-top: 20px;
        padding-left: 190px;
    }

    .menu-open-button {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }

    .menu-open-button:hover {
        transform: scale(1.3, 1.3) translate3d(0, 0, 0);
    }

    .menu-open:checked+.menu-open-button {
        transform: scale(0.9, 0.9) translate3d(0, 0, 0);
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 2rem;
        width: 90%;
    }

    section.tabla_tareas {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 40%;
    }

    section.crear_tarea {
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 50%;
        padding: 1rem;

    }

    fieldset {
        display: block;
        margin-inline: 2rem;


    }

    legend {
        text-align: center;

    }

    h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: rgb(37, 37, 37);
        font-weight: 500;
        margin: 0;

    }

    h3 {
        text-align: center;
    }


}